/* .smooth-orange-box{
  background-color: rgb(164,220,246);
  border-radius: 5px;
  padding: 8px;
}

.smooth-green-box{
  background-color: rgb(164,220,246);
  border-radius: 5px;
  padding: 8px;
}

.smooth-red-box{
  background-color: rgb(164,220,246);
  border-radius: 5px;
  padding: 8px;
}

.thead-green{
  background-color: rgb(50,168,62);
}
thead{
  background-color: rgb(50,168,62,0.7) !important;
  color: #fff;
}
.thead-green3{
  background-color: rgb(50,168,62,0.4);
} */

.background-color-crato{
  background-color: rgb(139, 208, 247,0.5);
}
