body{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.margin-8{
  margin: 8px
}
.card-menu{
  height: 110px;
}

.opacity-07{


    opacity:0.7;

}

td, th{
  text-align: center;
}

.round-blue-box{
  border-radius: 4px;
  border-color: #8bd0f7;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:5px;
  background-color: #8bd0f7;
}

.thumb {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.download-link{
  font-size: 18px
}


.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

#card-convocacao-aprovados .card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.table th {
  text-align: center;
}

#tabelaAcao > tbody > tr > td {
     vertical-align: middle;
}

div.centered table
{
    margin: 0 auto;
    text-align: center;

}



.card-description{
  font-size: 14px;
}

.ellipsis{
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col-operacoes{
  width: 15% !important;
}

.btn-crato{
  border-color: #8bd0f7;
  background-color: #8bd0f7;
  color: #fff;
}


.custom-header{
  background-image: linear-gradient(#fff, #eee);
border: 1px solid #ddd !important;
  padding: 0.1rem 1rem !important;
}

.custom-footer{
  padding: 0.5rem 1rem !important;
}


.hidden{
  display: none;
}


.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
body{
  background-color: #efefef !important;
  font-size: 14px;
}

#text-footer{
    font-style: italic;
    font-size: 12px;

}
#footer{
    background-color: white;
    padding: 20px 20px;
    color: #669;

}
.ml-auto{
  margin-right:10px;
}

.dropdown-menu{
	padding: 0.1rem 0;
}

#descricao{
	resize: vertical;
}

#objetivos{
	resize: vertical;
}

#orgaosConcedentes{
	resize: vertical;
}

#observacoes{
	resize: vertical;
}

#indicadores{
	resize: vertical;
}
.uppercase{
  text-transform: uppercase;
}
.border-radius-input{
  border-radius: 0.25rem !important;
}

.error {
     color: red;
  }

.modal-xl {
    max-width: 80% !important;
}

.vertical-divider{
  display:inline;
   height:100%;
   width:1px;
   border:1px inset;
   margin:5px
}

#tableRelatorioUnidadeOrcamentaria,#tableRelatorioPrograma {
  overflow-x: scroll;
}


.select2 {
    width: 100% !important;
}

.black{

  border-top: 1px #000 dashed !important;
}

.table-responsive-sm{
  overflow-x: scroll !important;
}

.loadingoverlay_text{
  text-align: center !important;
}

#tabelaGrouped tbody tr td {
    text-align: center;
}
